blinker==1.9.0
certifi==2026.4.22
cftime==1.6.5
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
dash==2.18.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
gunicorn==26.0.0
idna==3.13
importlib_metadata==9.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
nest-asyncio==1.6.0
netCDF4==1.7.4
numpy==2.4.4
packaging==26.2
pandas==3.0.2
plotly==5.24.0
python-dateutil==2.9.0.post0
requests==2.33.1
retrying==1.4.2
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
tenacity==9.1.4
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
Werkzeug==3.0.6
xarray==2026.4.0
zipp==3.23.1
